body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: grid;
    place-items: center;
    background: rgb(203, 203, 203);

}

.container{
    background-color: azure;
    width: 450px;
    height: 450px;
    display: flex;
    flex-direction: row column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}

#red-square{
    background-color: #f65314;
    /* text-decoration: line-through; */
    order: 1;
    width: 200px;
    height: 200px;
}

#yellow-square{
    background-color: #ffbb00;
    /* text-decoration: line-through; */
    order: 4;
    width: 200px;
    height: 200px;
}

#blue-square{
    background-color: #00a1f1;
    /* text-decoration: line-through; */
    order: 3;
    width: 200px;
    height: 200px;

}

#green-square{
    background-color: #7cbb00;
    /* text-decoration: line-through; */
    order: 2;
    width: 200px;
    height: 200px;

}